# If in quotes, do NOT remove quotes as code is expecting strings
transpose: 0 # change pitch of voice
audio_file: "path to audio file" # audio file path 
output_dir: "" # If you wanna change the name of output dir
model_path: "models\\enter_pth_name" # Pytorch model name 
device: "cuda:0" # Uses CUDA GPU
is_half: "False" 
f0method: "rmvpe" # options are: dio, harvest, crepe (good), rmvpe(also good)
file_index: "" # path to voice index file if using it, leave blank if not
file_index2: ""
index_rate: 1 # strength of the index from 0 to 1
filter_radius: 3
resample_sr: 0
rms_mix_rate: 1.0
protect: 0.33